<!DOCTYPE html>
<html class="hide-sidebar top-navbar ls-bottom-footer-fixed">
  <head>
    <title>PropertyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", async: true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'maps', 'data-turbolinks-track': 'reload', async: true%>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload', async: true%>
    <%= javascript_include_tag 'googleMapsInitializer', 'data-turbolinks-track': 'reload', async: true%>

  </head>

  <body>

    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>

    <!-- Wrapper required for sidebar transitions -->
    <div class="st-container">
      <%= render "layouts/navbar" %>

      <div id="content">

        <%= render "layouts/main" %>

        <section class="footer-section">
          <div class="container">
            <div class="row">
              <div class="col-xs-6 col-md-2">
                <h4>Corporate</h4>
                <ul class="list-unstyled">
                  <li><a href="">About the company</a></li>
                  <li><a href="">Company offices</a></li>
                  <li><a href="">Agents</a></li>
                  <li><a href="">Partners</a></li>
                  <li><a href="">Terms of use</a></li>
                  <li><a href="">Privacy</a></li>
                </ul>
              </div>
              <div class="col-xs-6 col-md-2">
                <h4>Explore</h4>
                <ul class="list-unstyled">
                  <li><a href="">Properties listing</a></li>
                  <li><a href="">List a property</a></li>
                  <li><a href="">Become a member</a></li>
                  <li><a href="">Become a partner</a></li>
                  <li><a href="">Sign Up</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-md-4 text-center">
                <h4>Newsletter</h4>
                <div class="panel bg-transparent margin-none">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolor, ea eaque laboriosam modi quam repellat sunt tenetur voluptatum! Ad cumque deleniti deserunt eaque labore molestiae nostrum odit quibusdam?</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="panel bg-transparent margin-none">
                  <div class="panel-body">
                    <div class="form-group form-control-default">
                      <label for="email">Email:</label>
                      <input id="email" class="form-control" type="text" placeholder="Your email address .." />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-pink-500">Subscribe</button>
                    </div>

                    <small class="help-block">* We will never sell your email</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>

  </body>
</html>
