<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-bars"></i></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#sidebar-map" data-toggle="sidebar-menu" class="toggle pull-right visible-xs"><i class="fa fa-map-marker"></i></a>

      <a class="navbar-brand" href="index.html">ThemeKit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <form class="navbar-form navbar-left margin-none">
        <div class="search-1">
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-search"></i></span>
            <input type="text" class="form-control form-control-w-150" placeholder="Search ..">
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
        <!-- Login -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-fw fa-lock"></i> Login
            </a>
            <div class="dropdown-menu dropdown-size-280">
              <%= form_for(:user, url: new_user_session_path) do |f| %>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Username" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-shield"></i></span>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
                  </div>
                </div>

                <div class="text-center">
                  <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>
              <% end %>

            </div>
          </li>

        <!-- // END login -->
        <!-- Sign up -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-plus"></i> Sign Up
          </a>
          <div class="dropdown-menu dropdown-size-280">
            <%= form_for(:user, url: user_registration_path) do |f| %>
              <!--%= render "devise/shared/error_messages", resource: :user %-->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-control-default">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, autofocus: true, placeholder: "Your first name", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-control-default">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, autofocus: true, placeholder: "Your last name", class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="form-group form-control-default required">
                <%= f.label :email %>
                <%= f.text_field :email, autofocus: true, placeholder: "Enter email", class: "form-control", autocomplete: :email %>
              </div>
              <div class="form-group form-control-default required">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </li>
        <% else %>
          <!-- user -->
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag "people/110/guy-6.jpg", class: "img-circle" %> Bill<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
              <li><a href="#"><i class="fa fa-wrench"></i>Settings</a></li>

                <li>
                  <%= link_to(destroy_user_session_path, method: :delete) do %>
                    <i class="fa fa-sign-out"></i>
                    Logout
                  <% end %>
                </li>
            </ul>
          </li>
          <!-- // END user -->
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</div>
