<p id="notice"><%= notice %></p>

<% if current_user.nil? %>
  <%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
  <%= link_to accounts_path, class: 'login-button' do %>Go to App<% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.index %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
